In [6]:
a = (1, 2, 3)
a[3] = 4

TypeError: 'tuple' object does not support item assignment

In [2]:
x --> 자료형: string, float, int, dict, set, list, tupple

x = 6
x indicator = 6 

x = 함수 (lambda ?)
        
= 

int - 정수형 +_[2^32-1]
float - +_[2^64-1]
string - 문자열 문자 (a, b, c, d)

{key, value}

key = "bob" - value = 1
key = "alice" - value = 2

key = 동일 데이터 타입
value = 데이터 타입의 고정성 x

set (집합)

(1, 2, 3)

(2, 3, 4) .append (1)
>>> (1, 2, 3, 4)

항상 오름차순 순으로 정렬이 된다

list (array) 배열

[1, 2, 3, 4] - 순서가 정해져있다
["a", 1] - 가능하죠
numpy - np.array() ==> homo ["a", 1, 2] / [1, 2, 3, 4]

sum()
mean()
.append()
.pop()
enumerate()
--> 반복 가능한 얘를 의미한다

a = [1, 2, 3, 4, 5]

for i, (X) in enumerate(a):

tupple - (2, 1)
서로 쌍을 지어서 넣는다 - 이때는 소괄호로로

SyntaxError: invalid syntax (2473674181.py, line 1)

In [3]:
a = [1, 2, 3, 4, 5]
0, 1, 2, ...

for i, (X) in enumerate(a):
    print(i, X)
    # i = index / X = a[i]

0 1
1 2
2 3
3 4
4 5

In [6]:
a = {"a": 1, "b": 2, "c":3}
a

{'a': 1, 'b': 2, 'c': 3}

In [10]:
b = {"a": 1, "b": 2, "c": "x"}
b

{'a': 1, 'b': 2, 'c': 'x'}

In [12]:
c = {"a": 1, "b": 2, 9: 3}
c

{'a': 1, 'b': 2, 9: 3}

In [7]:
def x(a):
    return a*2


b = 4
c = x
c(b)

8

In [9]:
# 재귀 - 자기 자신을 되풀이
# c(b) ==> 

def y(a):
    return x(a)

def x(a):
    return y(a)

c = x
x(b)

:

In [1]:
a = print

a("Hello World")

# print --> function

Hello World

In [10]:
# list
# sum = 10

a = [1, 2, 3, 4]
# list

print(len(a))

a.append(6)
a

4

[1, 2, 3, 4, 6]

In [11]:
b = a.pop()
a

[1, 2, 3, 4]

In [12]:
b

6

In [14]:
for i in range(len(a)):
    print(i)

0
1
2
3

In [22]:
a = [1, 2, 3, 5]

for i, (X) in enumerate(a):
    print(X)

1
2
3
5

In [19]:
# [1, 2, 3, 4]
# [0, 1, 2, 3]

# index - 
# element -

In [23]:
a = [1, 2, 3, "a"]

In [25]:
import numpy as np

b = np.array(a)
b

array(['1', '2', '3', 'a'], dtype='<U11')

In [26]:
# dict

di = {"Bob": 1, "Alice": 2, "Carthur": 4}
di

{'Bob': 1, 'Alice': 2, 'Carthur': 4}

In [30]:

di = {"Bob": 1, "Alice": 2, 3: "4"}
di

{'Bob': 1, 'Alice': 2, 3: '4'}

In [34]:
# comprehension

temp = {i for i in range(5)}
type(temp)

set

In [46]:
# tupple
a = (1, 3, 2)
a[0]

1

In [47]:
# set
b = [1, 3, 2]
a = set(b)
a.add(4)
a

{1, 2, 3, 4}

In [48]:
a = 1+1
print(a)

a = 2*2
print(a)

a = 2**3
print(a)

a = "Hello " * 3
print(a)

2
4
8
Hello Hello Hello

In [49]:
a = "Hello"
a[0]

'H'